<h1>Your Orders</h1>

<table style="width:100%">
	<tr>
		<th>Date</th>
		<th>Receiver</th>
		<th>Payment</th>
		<th>Total Price</th>
	</tr>
	{{#each order}}
	<tr>
		<td>{{this.date}}</td>
		<td>{{this.receiver}}</td>
		<td>{{this.payment}}</td>
		<td>{{this.total}}</td>
	</tr>
	{{/each}}

</table>