{{#if messages}}
	<p class="error">{{messages}}</p>
{{/if}}
<h1>Password Reset</h1>
<main>
	<form action="/users/password_email" method="GET" id="login-form">
		<div class="form-group row">
			<label for="email_address" class="col-sm-2 col-form-label">
				EMAIL ADDRESS:
			</label>
			<div class="col-sm-10">
				<input type="email" id="email_address" name="email_address"/>
			</div>
		</div>
		<button type="submit">Reset Password</button>
	</form>
</main>

