{{#if messages}}
	<p class="error">{{messages}}</p>
{{/if}}
<h1>Log In</h1>
<main>
	<form action="/users/login" method="POST" id="login-form">
		<label for="username">
			USERNAME:
		</label>
		<input type="text" id="username" name="username"/>

		<label for="password">
			PASSWORDS:
		</label>
		<input type="password" id="password" name="password"/>
		<button type="submit">Log In</button>
		<a href="/users/password_reset">Forget Password</a>
	</form>
</main>